# dependencies
node_modules

# next build
.next
out

# env files
.env
.env.local
.env.*.local

# logs
*.log

# lockfiles (opcional, pero recomendado conservar package-lock)
# package-lock.json

# termux / temp
*.swp
nano
*~
